html,
body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

.top-box {
  background-color: #76c4c6;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin-dots {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: 1s spinDots infinite ease-in-out;
}
.dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
@keyframes spinDots {
  0% {
    transform: none;
  }
  25%,
  100% {
    transform: rotate(0.5turn);
  }
}

.bot-box {
  background-color: #1eac9c;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-sticks {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stick {
  background-color: white;
  width: 12px;
  height: 40px;
  animation: waveStick 1s infinite ease-in-out;
}
.stick:nth-child(2) {
  animation-delay: 0.1s;
}
.stick:nth-child(3) {
  animation-delay: 0.2s;
}
.stick:nth-child(4) {
  animation-delay: 0.3s;
}
.stick:nth-child(5) {
  animation-delay: 0.4s;
}
@keyframes waveStick {
  0%,
  50%,
  100% {
    transform: none;
  }
  25% {
    transform: scale(1, 3);
  }
}
